body {
    margin: auto;
    background-color: #D0B8A8;
    text-align: center;
}

h1 {
    color: lightblue;
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    margin: 0;
    text-shadow: 2px 2px orangered;
}

h2 {
    color: #F8EDE3;
}

p {
    font-weight: normal;
    color: #F8EDE3;
    font-family: 'DM Serif Display', serif;
    font-weight: lighter;
}

header {
    background-color: #e8ddd2;
    padding: 30px 0 20px;
}

.navbar {
    list-style: none;
    word-spacing: 200px;
    margin: 15px 10px auto --20px ;
    color: #D0B8A8;
    font-family: monospace;
    font-size: larger;
}

.nav-item:hover {
    color: lightcoral;
    cursor: pointer;
}

.nav-item {
    display: inline-block;
}

.top-container {
    width: 50%;
    position: relative;
    margin: 55px auto;
    position: relative;
}

.title {
    padding-top: 4px;
    color: orangered;
    text-shadow: 1px 1px lightyellow;
    font-size: larger;
}

.location {
    width: 30%;
    margin: auto;
}

.bottom-text {
    font-family: monospace;
    font-size: x-large;
    padding-top: 25px;
    width: 65%;
    margin: auto;
    color: #a28a6f;
}

.girl-img {
    height: 350px;
}

.star-img {
    height: 100px;
    position: absolute;
    top: 25px;
    right: 35px;
}

.star2-img {
    height: 100px;
    position: absolute;
    top: 25px;
    left: 35px;
}

footer {
    background-color: lightblue;
    padding: 20px 0 20px;
}

.socials {
    list-style: none;
}

.social {
    display: inline-block;
    font-size: x-large;
    padding-right: 13px;
}

.fa-brands {
    margin: auto;
    padding: 10px;
    color: white;
}

.fa-brands:hover {
    color: rgb(250, 216, 154);
}

.flat_link {
    color: white;
    padding: -1px;
    padding-left: 5px;
}